---
import { CATEGORIES_TREE } from "@/categories";
import CategoryTree from "@/components/CategoryTree.astro";
import Search from "astro-pagefind/components/Search";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

const splits = [1, 5];
const left = CATEGORIES_TREE.slice(0, splits[0]);
const middle = CATEGORIES_TREE.slice(splits[0], splits[1]);
const right = CATEGORIES_TREE.slice(splits[1]);
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="w-[800px]">
      <h1>投稿</h1>
      <div class="w-[600px] m-auto">
        <Search
          id="search"
          className="pagefind-ui"
          uiOptions={{ showImages: false }}
        />
      </div>
      <section class="mt-8 grid grid-cols-3 gap-8">
        <CategoryTree categories={left} />
        <CategoryTree categories={middle} />
        <CategoryTree categories={right} />
      </section>
    </main>
    <Footer />
  </body>
</html>
