---
import TechChip from "@/components/TechChip.astro";
import { Image } from "astro:assets";
import { type CollectionEntry, getCollection, render } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import { combineDates } from "../../utils";

export async function getStaticPaths() {
  const works = await getCollection("works", ({ data }) => import.meta.env.DEV || !data.draft);
  return works.map((work) => ({
    params: { slug: work.id },
    props: work,
  }));
}

type Props = CollectionEntry<"works">;

const work = Astro.props;
const { Content } = await render(work);
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <BaseHead
      title={work.data.title}
      description={work.data.summary ?? ""}
      noIndex={true}
    />
    <style>
    main {
      width: calc(100% - 2em);
      max-width: 100%;
      margin: 0;
    }
    .hero-image {
      width: 100%;
    }
    .hero-image img {
      display: block;
      margin: 0 auto;
      border-radius: 12px;
      box-shadow: var(--box-shadow);
    }
    .prose {
      width: 720px;
      max-width: calc(100% - 2em);
      margin: auto;
      padding: 1em;
      color: rgb(var(--gray-dark));
    }
    .title {
      margin-bottom: 1em;
      padding: 1em 0;
      text-align: center;
      line-height: 1;
    }
    .title h1 {
      margin: 0 0 0.5em 0;
    }
    .date {
      margin-bottom: 0.5em;
      color: rgb(var(--gray));
    }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article>
        <div class="hero-image">
          {
            work.data.heroImage && (
              <Image
                width={1020}
                height={510}
                src={work.data.heroImage}
                alt=""
              />
            )
          }
        </div>
        <div class="prose">
          <div class="title">
            <div class="date">
              {
                combineDates({
                  startDate: work.data.startDate,
                  endDate: work.data.endDate,
                  aboutYear: work.data.aboutYear,
                })
              }
            </div>
            {work.data.draft && <span class="inline-block text-sm bg-yellow-400 text-black px-2 py-1 rounded mb-2">DRAFT</span>}
            <h1>{work.data.title}</h1>

            {
              work.data.techs && work.data.techs.length > 0
                && (
                <div class="flex flex-wrap gap-2 justify-center mb-4">
                  {work.data.techs.map((tech) => <TechChip tech={tech} />)}
                </div>
              )
            }

            <hr />
          </div>
          <Content />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
