---
import TechChip from "@/components/TechChip.astro";
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import { PATHS } from "../../paths";
import {combineDates } from "../../utils";

const works = (await getCollection("works", ({ data }) => import.meta.env.DEV || !data.draft)).sort(
  (a, b) => {
    const now = new Date();
    const aEnd = (a.data.endDate ?? (a.data.startDate ? now : new Date(a.data.aboutYear ?? 0, 0))).valueOf();
    const bEnd = (b.data.endDate ?? (b.data.startDate ? now : new Date(b.data.aboutYear ?? 0, 0))).valueOf();

    if (bEnd !== aEnd) return bEnd - aEnd;

    const aStart = a.data.startDate?.valueOf() ?? 0;
    const bStart = b.data.startDate?.valueOf() ?? 0;
    return bStart - aStart;
  },
);
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <BaseHead
      title={`Works - ${SITE_TITLE}`}
      description={SITE_DESCRIPTION}
      noIndex={true}
    />
  </head>
  <body>
    <Header />
    <main class="w-[800px] mx-auto px-4">
      <h1>Works</h1>
      <section class="space-y-8">
        {
          works.map((work) => {
            const { data } = work;
            const { startDate, endDate, aboutYear } = data;
            return (
            <article class="border border-gray-200 rounded-lg p-6 hover:shadow-lg transition-shadow">
              <div class="flex justify-between items-start mb-3">
                <h2 class="text-xl font-semibold mt-0 mb-4">
                  <a href={PATHS.works.work(work.id)}>
                    {work.data.draft && <span class="text-xs bg-yellow-400 text-black px-1 py-0.5 rounded mr-1">DRAFT</span>}
                    {work.data.title}
                  </a>
                </h2>
                <time class="text-sm text-gray-500 whitespace-nowrap ml-4">
                  {combineDates({startDate, endDate, aboutYear})}
                </time>
              </div>

              {
                work.data.summary && (
                  <p class="text-gray-700 mb-4">{work.data.summary}</p>
                )
              }

              {
                work.data.techs && work.data.techs.length > 0
                  && (
                  <div class="flex flex-wrap gap-2">
                    {work.data.techs.map((tech) => <TechChip tech={tech} />)}
                  </div>
                )
              }
            </article>
          );
          })
        }
      </section>
    </main>
    <Footer />
  </body>
</html>
