---
import {
  type Category,
  filterPostsByCategory,
  flatCategoryTreeItems,
} from "@/categories";
import { CATEGORIES_TREE } from "@/categories";
import CategoryChip from "@/components/CategoryChip.astro";
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import { PATHS } from "../../paths";

export async function getStaticPaths() {
  const posts = await getCollection("blog", ({ data }) =>
    import.meta.env.DEV || !data.draft
  );
  const categories = flatCategoryTreeItems(CATEGORIES_TREE).map(c =>
    c.category
  );

  return categories.map(category => ({
    params: { category },
    props: {
      category,
      posts: filterPostsByCategory(posts, category),
    },
  }));
}

const { category, posts } = Astro.props;
const sortedPosts = posts.sort((a, b) =>
  new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
);
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <BaseHead
      title={`${category} - ${SITE_TITLE}`}
      description={SITE_DESCRIPTION}
    />
  </head>
  <body>
    <Header />
    <main style={{ width: "1000px", margin: "0 auto", padding: "2rem" }}>
      <h1>カテゴリ: {category}</h1>
      <ul>
        {
          sortedPosts.map(post => (
            <li class="mb-2">
              <a href={PATHS.posts.post(post.id)}>{post.data.draft && <span class="text-xs bg-yellow-400 text-black px-1 py-0.5 rounded mr-1">DRAFT</span>}{post.data.title}</a>
              {post.data.categories?.map(c => <CategoryChip category={c} />)}
              <span class="ml-4 text-[#666]">
                {
                  new Date(post.data.pubDate).toLocaleDateString(
                    "ja-JP",
                  )
                }
              </span>
            </li>
          ))
        }
      </ul>
    </main>
    <Footer />
  </body>
</html>
